
/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* PALETTES */
:root{
    --light-cyan: #b5ddff;
    --violet:#9792e4;
    --blu-sky: #0084fd;
    --yellow: #ecb974;
    --margin: 1rem;
}


/* COMMON */
img{
    max-width: 100%;
}

html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

.row{
    width: 80%;
    margin: 0 auto;
    padding: 1rem;
}

.col{
    border-radius: 25px;
    margin: 1rem;
    padding: 1em;
    /* DEBUG */
    border: 1px solid black;
}


/* UTILITIES */

.violet{
    background-color: var(--violet);
}

.flex{
    display: flex;
}

/* HEADER */
Header{
    background-color: var(--blu-sky);
    width: 100%;
    max-width: 1500px;
    /* DEBUG */
    height: 60px;
}

.logo{
    padding: 1rem;
}

.header-container{
display: flex;
justify-content: space-between;
align-items: center;
margin:0 auto;
}

.hamburger-menu{
    color: white;
    padding: 0 1rem;
    font-size: 2em;
}

.menu{
    display: none;
}

/* MAIN */

/* GET-DEMO SECTION */
.card{
background-color: var(--light-cyan);
}

/* STRATEGIC-PLANNING */
.planning{
    background-color: var(--violet);
}

.plan{
    Margin: 2rem auto;
    /* DEBUG */
    min-height: 200PX;
}

/* DEBUG */
.debug-img{
    background-color: aquamarine;
    width: 80%;
    height: 400px;
    margin: 0 auto;
}


/* TESTIMONIALS */
.testimonial-presentation{
    background-color: white;
}

 .testimonial{
    background-color: var(--violet);
    color: white;
    margin: 1rem;
}

.radius-img{
    border: 1px solid black;
    border-radius: 50%;
    margin: 0 auto;

    /* DEBUG */
    background-color: #8aec74;
    width: 25%;
    min-height: 100px;

}

/* BENEFITS */

.benefit {
    background-color: white;
}


/* MEDIA-QUERING */

/* TABLET-SCREEN  768PX*/
@media screen and (min-width: 768px) {
#get-demo .cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1 rem;
    justify-content: space-between;
}
.card{
    width: calc(100% / 3 - 2rem / 2);
    margin: 1rem 0;
       /* DEBUG */
    min-height: 200px;
}

.cards :first-child{
width: calc(100% / 3 *2 - .5rem);
}

/* TESTIMONIALS-SECTION */
.testimonial{
    display: flex;

}

/* BENEFITS-SECTION */
.benefits-sec{
    display: flex;
    flex-wrap: wrap;
}
.benefit{
    width: calc(100% / 2 - var(--margin)*2);
}



}

/* LARGE-DESKTOP 1200PX */

@media screen and (min-width: 1200px) 
{
    .menu{
        display: block;
    }
    ul{
        display: flex;
        list-style-type: none;
       } 
    li{
       color: wthite;
        margin: 0 2em;
    } 
    .hamburger-menu{
        display: none;
    }

    /* STRATEGIC-PLANNING-SECTION */

    #strategic-planning .planning{
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;position: relative;
    }

    .plan{
        width: calc(100% / 2 - 2rem);
        margin: 0;
    }

/* BENEFITS-SECTION */

    .benefit{
        width: calc(100% / 3 - var(--margin)*3);
    }

}