
/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* PALETTES */
:root{
    --light-cyan: #b5ddff;
    --violet:#9792e4;
    --blu-sky: #0084fd;
    --yellow: #ecb974;
    --margin: 1rem;
}


/* COMMON */
img{
    max-width: 100%;
}

html{
    font-size: 100%;
    font-family: 'PT Sans', sans-serif;
}

p{
    line-height: 2em;
    margin: 1em 0;
    
}
.row{
    width: 90%;
    margin: 0 auto;
    padding: 1rem;
}

.col{
    border-radius: 25px;
    margin: 2rem auto;
    padding: 2rem;
}

.blue-button{
    background-color: var(--blu-sky);
    color: white;
    border-radius: 25px;
    text-decoration: none;
    padding: 0.3em 2em;
    margin: 0.5rem auto;
    font-size: 1.5em;
    line-height: 1.5em;
    width: 100%;
    min-height: 100%;
    letter-spacing: 5px;
}


/* UTILITIES */

.violet{
    background-color: var(--violet);
}

.blue{
    color: var(--blu-sky);
}






/* HEADER */
header{
    background-color: var(--blu-sky);
    width: 100%;
    max-width: 1800px;
}

.logo{
    padding: 1rem;
}

.header-container{
display: flex;
justify-content: space-around;
align-items: center;

    /* DEBUG */
    border: 1px solid black;
}

.hamburger-menu{
    color: white;
    padding: 0 1rem;
    font-size: 2em;
    margin: 0 1rem;
}

.menu{
    display: none;
}

/* MAIN */

/* GET-DEMO SECTION */
.card{
background-color: var(--light-cyan);
text-align: center;
}


.square-img{
 margin-top: 1rem;
 margin-bottom: 0;
 margin-left: 50%;
 transform: translatex(-50%);
 display: block;
}

.card-flex{ 
    background-color: var(--light-cyan);
    border-radius: 25px;
    
    margin: 2rem auto;
    /* DEBUG */
    border: 1px black solid;
}
.card-text{ 
    padding: 1rem;
    width: 100%;
}

/* .internal{
    padding-bottom:0;
} */

/* i.fa-brands.fa-apple {
    width: auto;
} */

/* .card>.fa-solid{
margin-top: 0.5em;
} */ 

/* STRATEGIC-PLANNING */
.planning{
    background-color: var(--violet);
}

.strategic-plan{
    color: white;
    Margin: 2rem auto;
}

.app-development-plan{
    background-color: white;
}

.planning p, h2{
    text-align: center;
}

.fa-arrow-down{
    border-radius: 50%;
    background-color: var(--violet);
    padding: .5em;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.plan-img>img{
    margin: 0 auto;
}


/* TESTIMONIALS */



.testimonial-presentation{
    background-color: white;
    text-align: center;
}
.testimonial-presentation h3{
    color: var(--violet);
}

 .testimonial{
    background-color: var(--violet);
    color: white;
    margin: 1rem;
}

.radius-img{
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 50%;
    transform: translateX(-50%);
}

p>span{
    font-size: 2em;
}

/* BENEFITS */

.benefit {
    background-color: white;
}

.benefits-title h2{
    color:white;
}

.benefit h2, h3{
    color: var(--violet);
    text-align: left;
    font-size: 2em;
}

/* BANNER-SEC */
#banner-sec{
    background-color: var(--violet);
}

/* ABOUT-US SECTION */

#about .container{
    background-color: white;
}


.banner{
    width: 30%;
}

/* FOOTER */

footer{
    background-color: black;
}

.footer-container{
    width: 30%;
    color: white;
    margin: 0 auto;
}





/* MEDIA QUERY LARGE DESKTOP 1200PX */

@media screen and (min-width: 1200px) {
    
}